@import './vars';

@mixin font-family() {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
}

@mixin font-size($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  @include font-family()
}

@mixin button($width) {
  position: relative;
  width: $width;
  justify-self: center;
  padding: 16px 32px;
  text-transform: uppercase;
  background-color: $button-login;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  @include font-size(14px, $font-weight-light, $white);

  &:hover {
    background-color: $button-login-hover;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
