@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';

.itemPagination {
  display: flex;
  cursor: pointer;

  & > li {
    border: 1px solid $select-color;

    & > a {
      display: block;
      padding: 6px 12px;
      @include font-size(15px, $font-weight-bold, $text-primary);
    }

    &:first-child {
      display: none;
    }

    &:last-child {
      display: none;
    }

    &.itemPaginationActive {
      background: $select-color;
    }
  }
}
