@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  padding: 50px;
  background-color: $background-primary;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .head {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 32px;

    .title {
      @include font-size(32px, $font-weight-bold, $white);
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .description {
      display: grid;
      grid-template-rows: repeat(2, min-content);
      grid-row-gap: 8px;

      .welcomeMessage {
        @include font-size(18px, $font-weight-medium, $white);
      }

      .text {
        @include font-size(15px, 100, $white);
      }
    }
  }

  .form {
    position: relative;
    display: grid;
    grid-template-columns: 405px;
    grid-template-rows: repeat(3, min-content);
    padding-top: 24px;

    @include media-breakpoint-down(xs) {
      grid-template-columns: 100%;
    }

    button {
      width: 100%;
    }
  }
}
