@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.column {
  margin-bottom: 10px;

  .title {
    margin-bottom: 20px;
    @include font-size(18px, $font-weight-bold, $text-primary);
  }

  @include media-breakpoint-down(md) {
    grid-row: 3/4;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
}
