@import 'src/assets/styles/util/vars';

.button {
  background: transparent;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  transition: all .3s ease;
  cursor: pointer;

  &:hover {
    border: 1px solid $select-color;
    border-radius: 4px;
  }

  &:active {
    border: 1px solid $green;
  }
}
