@import 'src/assets/styles/util/media-query';

.wrapper {
  align-items: start;
  display: grid;
  grid-template-areas: 'nav header'
                       'nav main'
                       'footer footer';
  grid-template-columns: min-content 1fr;
  grid-template-rows: 70px min-content;
  min-height: 100vh;


  @include media-breakpoint-down(md) {
    grid-template-areas: 'header'
                         'main'
                         'footer';
    grid-template-columns: 1fr;
  }

  @include media-breakpoint-down(xs) {
    grid-template-rows: 140px min-content;
  }
}

