@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.closeItem {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.wrapperUser {
  cursor: pointer;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 35px auto;
  justify-content: center;
  position: relative;

  @include media-breakpoint-down(xs) {
    grid-column-end: 5;
    grid-row: 2/3;
  }

  .wrapperImage {
    height: 35px;

    .img {
      border-radius: 50%;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .name {
    align-items: center;
    display: flex;
    justify-content: center;
    @include font-size(14px, $font-weight-bold, $white);

    .chevron {
      border: 5px solid transparent;
      border-top: 5px solid $chevronColor;
      display: block;
      margin-left: 10px;
      position: relative;
      top: 5px;
    }
  }
}
