@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';


.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

.content {
  @include font-size(32px, $font-weight-bold, $white);


  @include media-breakpoint-down(sm) {
    @include font-size(24px, $font-weight-bold, $white);
  }
}

