@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import "src/assets/styles/util/media-query";

.container {
  background-color: $background-primary;
  border-radius: 8px;
}

.scroll {
  overflow-x: scroll;
}

.table {
  padding: 20px;
  width: 100%;
  margin-bottom: 0;
  @include font-size(14px, $font-weight-medium, $text-secondary);

  @include media-breakpoint-down(md) {
    width: 900px;
  }

  @include media-breakpoint-down(sm) {
    width: 700px;
  }

  @include media-breakpoint-down(xs) {
    width: 500px;
  }

  .head {
    display: grid;

    .headerItem {
      padding: 0 10px;
    }

    .wrapperSort {
      cursor: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapperIconSort {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .body {
    .row {
      width: 100%;
      display: grid;
      transition: all 0.3s ease;

      &:hover {
        .link {
          background-color: $black;
          color: $text-primary;

          &:hover {
            z-index: 100;
          }
        }
      }
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 100%;
      text-decoration: none;
      text-overflow: clip;
      @include font-size(14px, $font-weight-bold, $text-secondary);
    }
  }
}

.pagination {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 60px;
  justify-content: space-between;
  align-items: start;
  padding: 15px 15px;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
}
