@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.container {
  background-color: $background-primary;
  border-radius: 8px;
}

.scroll {
  overflow-x: scroll;
}

.table {
  margin-bottom: 0;
  padding: 20px;
  width: 100%;
  @include font-size(14px, $font-weight-medium, $text-secondary);

  .head {
    display: grid;

    .headerItem {
      padding: 0 10px;
    }

    .wrapperSort {
      align-items: center;
      cursor: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      .wrapperIconSort {
        align-items: center;
        display: flex;
        height: 15px;
        justify-content: center;
        width: 15px;
      }
    }
  }

  .body {
    .cell {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 15px;
      text-decoration: none;
      text-overflow: clip;
      width: 100%;
      @include font-size(14px, $font-weight-bold, $text-secondary);
    }

    .row {
      display: grid;
      transition: all 0.3s ease;
      width: 100%;

      &:hover {
        .cell {
          background-color: $black;
          color: $text-primary;

          &:hover {
            z-index: 100;
          }
        }
      }

      &.expandedRow {
        & > div:last-child {
          border: 1px solid $black;
          border-top: none;
        }

        .cell { /* stylelint-disable-line no-descending-specificity */
          border-top: 1px solid $black;
        }

        & > :first-child {
          border-left: 1px solid $black;
        }

        .cell:nth-last-child(2) {
          border-right: 1px solid $black;
        }
      }

      &:first-child {
        margin-top: 20px;
      }
    }
  }
}
