@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import "src/assets/styles/util/media-query";

.input {
  min-width: 100px;
  width: 100%;
  border: 1px solid $border-color;
  margin-top: 10px;
  padding: 10px;
  background-color: $input-bg;
  border-radius: 2px;
  transition: all .3s ease-in;
  @include font-size(14px, $font-weight-medium, $text-primary);

  &:focus {
    border: 1px solid $input-border-active;
  }
}
