@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.column {
  margin-bottom: 10px;

  @include media-breakpoint-down(md) {
    grid-row: 3/4;
  }

  .title {
    margin-bottom: 20px;
    @include font-size(18px, $font-weight-bold, $text-primary);
  }

  .form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .button {
    @include button(300px);
  }
}
