@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.errorMessage {
  bottom: -20px;
  left: 12px;
  position: absolute;
  white-space: nowrap;
  @include font-size(12px, $font-weight-light, $pink);
}
