@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.column {
  @include media-breakpoint-down(md) {
    grid-row: 3/4;
  }

  .columnInfo {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 150px 1fr;
    }

    .description {
      @include font-size(15px, $font-weight-bold, $text-secondary);
    }

    .info {
      @include font-size(15px, $font-weight-bold, $text-primary);
    }
  }
}
