@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';

.errorMessage {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  @include font-size(14px, $font-weight-light, $pink);
}
