@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import "src/assets/styles/util/media-query";

.container {
  display: flex;
  position: absolute;
  bottom: calc(-70px / 2);
  right: 30px;

  .separator {
    display: block;
    margin: 0 3px;
  }

  .link {
    display: flex;
    @include font-size(14px, $font-weight-bold, $text-muted);

    &.last {
      @include font-size(14px, $font-weight-medium, $text-gray)
    }
  }
}
