@import 'src/assets/styles/util/vars';

.ring {
  display: inline-block;
  height: 12px;
  width: 12px;
}

.ring:after {
  animation: lds-dual-ring 1.2s linear infinite;
  border: 6px solid $white;
  border-color: $white transparent $white transparent;
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 20px;
  margin: 0;
  width: 20px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

