@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.input {
  width: 100%;
  padding: 15px 12px;
  background-color: transparent;
  border: 1px solid $darkslategray;
  transition: all .2s;
  @include font-size(14px, $font-weight-light, $text-primary);

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    background-color: transparent;
    border: 1px solid $input-border-active;
    outline: none;
    @include font-size(14px, $font-weight-medium, $input-placeholder-color);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #191c24 inset;
    -webkit-text-fill-color: $input-placeholder-color;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: transparent !important;
  }
}

