@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.wrapper {
  position: relative;
}

.wrapperButton {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  position: relative;
  transition: 0.2s ease-in;

  @include media-breakpoint-down(xs) {
    height: 100px;
  }

  & > svg {
    height: 100%;
    width: 100%;
  }

  & > input {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.noAvatar {
  color: $white;
  font-size: 20px;
  margin-left: 20px;
}

.container {
  .buttonBar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s ease-in;

    & > button,
    svg {
      max-height: 100px;
      max-width: 100px;
      transition: 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:hover {
    .buttonBar {
      opacity: 1;
    }
  }
}
