@import 'util/fonts';
@import 'util/vars';
@import 'util/media-query';
@import 'util/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

html {
  background: $background-secondary;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  padding: 70px 30px 125px;

  @include media-breakpoint-down(md) {
    padding: 70px 0 125px;
  }
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}


input {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: $boxed-container-width;
  padding: 0 15px;
  width: 100%;
}

// This selector need for position breadcrumbs
.wrapper {
  position: relative;
}

.rnc__notification-title { /* stylelint-disable-line selector-class-pattern */
  @include font-size(16px, $font-weight-medium, $text-primary);
}

.rnc__notification-message { /* stylelint-disable-line selector-class-pattern */
  @include font-size(14px, $font-weight-medium, $text-primary);
}
