@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: $background-primary;
  border-radius: 8px;

  @include media-breakpoint-down(lg) {
    grid-column-gap: 10px;
  }

  .tabs {
    display: flex;
    margin-bottom: 20px;
    overflow-x: scroll;

    .tab {
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s ease-in;
      padding: 8px 16px;
      background-color: transparent;
      border: none;
      outline: none;
      text-decoration: none;
      @include font-size(16px, $font-weight-medium, $text-secondary);

      &.selected {
        border-bottom: 1px solid $text-primary;
        color: $text-primary;
      }
    }
  }
}
