@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';

.modalUser {
  background-color: $darkViolet;
  border-radius: 4px;
  box-shadow: 0 0 35px -3px #000;
  position: absolute;
  right: 0;
  top: 53px;
  transform: scale(0);
  transition: all .1s ease-in;

  &.open {
    transform: scale(1);
    z-index: 3;
  }

  .list {
    li {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 16px;
      position: relative;

      &.title {
        cursor: auto;
        justify-content: left;

        &:hover {
          background-color: $darkViolet;
        }
      }

      .round {
        align-items: center;
        background-color: #0d0d0d;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;
      }

      .bottomElement {
        background-color: $border-color;
        bottom: 0;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        background-color: #13151B;
      }
    }

    .item {
      display: flex;
      padding: 11px 13px;
      @include font-size(14px, $font-weight-medium, $white);

      &.link {
        cursor: pointer;
        text-decoration: none;
      }

      &.logout {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
