@import 'src/assets/styles/util/vars';
@import 'src/assets/styles/util/mixins';
@import 'src/assets/styles/util/media-query';

.title {
  margin-bottom: 20px;
  @include font-size(18px, $font-weight-bold, $text-primary);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    flex-direction: row;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.content {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: min-content 1fr;
  width: 100%;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }

  .wrapper {
    display: block;
  }
}
